<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<ul>
  <!--  Thymeleaf 반복문 처리
        th:each = "변수: ${목록}" -->
  <p> ▼ Thymeleaf 반복문 th:each ▼ </p>
  <li th:each="dto : ${list}">
    [[${dto}]]
  </li>

  <!--  Thymeleaf 반복문 상태(state)객체 -->
  <p> ▼ Thymeleaf 반복문 상태(state)객체 ▼ </p>
  <li th:each="dto, state : ${list}">
    [[${state.index}]] --- [[${dto}]]
  </li>

  <!--  Thymeleaf 반복문과 if처리 -->
  <p> ▼ Thymeleaf 반복문과 if처리 ▼ </p>
  <li th:each="dto, status : ${list}" th:if="${dto.sno % 5 == 0}">
    [[${dto}]]
  </li>

  <!--  Thymeleaf th:if 와 th:unless -->
  <p> ▼ Thymeleaf th:if 와 th:unless ▼ </p>
  <li th:each="dto, status : ${list}">
    <span th:if="${dto.sno % 5 == 0}" th:text="${'-----------------' +dto.sno}"></span>
    <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
  </li>

</ul>
</body>
</html>
