<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class = "mt-4">GuestBook List Page</h1>

    <!--test start [input 동시입력]-->
    <input type="text" name="beforeAmt" id="beforeAmt" value="" class="money" size="61" align="left" onkeyup="eventKeyup(this.value)"/>
    <input type="text" name="afterAmt" id="afterAmt" value="" class="money" size="61" align="left" />
    <!--test end-->


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Gno</th>
          <th scope="col">Title</th>
          <th scope="col">Regdate</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${result.dtoList}">
        <th scope="row">[[${dto.gno}]]</th>
        <td>[[${dto.title}]]</td>
        <td>[[${dto.writer}]]</td>

        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
      </tr>

      <!--test2 [input 동시입력] START-->

      <script type="text/javaScript">
        function eventKeyup(str){
          $("#afterAmt").val(str);    // jQuery 이용
          // console.log(str);
          //document.all.afterAmt.value = str;    // jsp name 이용
          //document.getElementById("afterAmt").value = str;   // jsp id 이용
        }
      </script>

      <!--test2 [input 동시입력] END-->

      <!--test [console.log 입력] start -->
      <script>
          var a = 1;
          var b = 'hello';
          console.log(a);
          console.log(b);
      </script>
      <!--test [console.log 입력] end-->

      <!-- test [input concole.log 출력 - change이벤트 활용] 시작-->
      <script type="text/javascript">
        $("#beforeAmt").on('change', function(e){
          console.log($(this).val());
        })
      </script>
      <!-- test [input concole.log 출력 - change이벤트 활용] 끝-->

      </tbody>
    </table>

    <!-- 4.6.1 목록 페이지 처리-->
    <ul class="pagination h-100 justify-content-center align-items-center">

      <li class="page-item " th:if="${result.prev}">
        <a class="page-link" th:href="@{/guestbook/list(page= ${result.start -1})}" tabindex="-1">Previous</a>
      </li>

      <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
        <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">
          [[${page}]]
        </a>
      </li>

      <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/guestbook/list(page= ${result.end + 1})}">Next</a>
      </li>

    </ul>
  </th:block>

</th:block>


