<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Fragment Test 1</h1>
<h3>exLayout1.html - Layout 1 - 1</h3>
<div th:replace="~{/fragments/fragment1 :: part1}" ></div>

<h3>exLayout1.html - Layout 1 - 2</h3>
<div th:insert="~{/fragments/fragment1 :: part2}" ></div>

<h3>exLayout1.html - Layout 1 - 3</h3>
<th:block th:replace="~{/fragments/fragment1 :: part3}" ></th:block>
<p>=============================================================</p>

<h1>Fragment Test 2</h1>
<div style="border: 1px solid blue">

<th:block th:replace="~{/fragments/fragment2}"></th:block>

</div>
<h3>Layout 1 - 1</h3>
<div th:replace="~{/fragments/fragment1 :: part1}" ></div>
<h3>Layout 1 - 2</h3>
<div th:replace="~{/fragments/fragment1 :: part2}" ></div>
<h3>Layout 1 - 3</h3>
<th:block th:replace="~{/fragments/fragment1 :: part3}" ></th:block>

</body>
</html>